body{
  margin: 0;
  margin-bottom: 0;
}

header{
  background-color: rgb(53, 51, 184);
  height: 45px;
  display: flex;
  align-items: center;
color: white;
height: 100%;
}

h1{ margin: 0;
  margin-left: 20px; 
  color: rgb(49, 233, 43);
  font-family: 'Open Sans', sans-serif;
  }


  li{
    display: inline-block;
    margin: 14px;
    margin-top: 35px;
    padding-top: 40px;
    font-size: 24px;
    
    }

    ul{
      list-style-type:none ;
      margin: 0;
      padding: 0;
      margin-left: 970px;
     }

    
             

  .section1{
    background-color: rgb(61, 20, 156);
    height: 300px;
}

.mb-4{
color: white;
font-size: 25px;

}



.fu{
width: 280px;
height: 50px;
margin-left: 90px;
margin-top: 4%;

}



  
  
          


.tb{
padding-top:3% ;
color: white;
margin-left:580px;
}







.body1{
  background-color: rgb(42, 15, 117);
  height: 470px;
}


.hdd{
color: white;
}

.ggt{
padding-top: 9%;
}

#inputGroup-sizing-lg{
  background-color: rgb(58, 147, 219) !important;
width: 123px;
height: 65px;
font-size: 30px;
font-style: inherit;}



    
    .section3{
    background-color: rgb(78, 37, 153);
    height: 100px;
    padding-top:1px ;
  }







  h2{
    display: grid;
margin-left: 180px;
color: white;
margin-top:0 ;

}
.sx{
font-size: 25px;
margin:0 ;

}
.body3{
color: rgb(34, 250, 250);
margin-left: 750px;

}
.bu{margin-left: 850px;
  


}

.sst{
background-color:rgb(191, 53, 245) !important;
border: 0px;
width:200px ;
height: 50px;
margin-bottom: 5%;


}




    .Footer{

      background-color: rgba(36, 32, 32, 0.911);
      height: 310px;
padding-top: 1px;
    }
    h3{
      color: white;
      font-size: 15px;
     margin: 0.7px;

    }
.cn{
  margin-left: 74px;
margin-top: 16px;
}
.bn{
  margin-left: 650px;
margin-top: -9% ;
padding: 0;

}

.ffx{
background-color: rgb(73, 65, 189);
height: 790px;
color: white;
font-size: 30px;

}

.ggh{
padding-top: 36px;
margin-left: 660px;
color: rgb(25, 223, 213);
}

.ggg{

  width: 280px;
  height: 65px;
  margin-left: 770px;
  margin-top: 2%;
  background-color: rgb(184, 51, 184) !important;
}

.hhh{
  margin-right: 0px;
  margin-top: 30px;
}





.FooterBottom{

  background-color: rgb(21, 20, 24);
  height: 70px;
  padding-top: 1px;
}
h4{
margin-left: 600px;
color: rgb(3, 70, 31);

}

.carousel{
background-color: rgb(12, 58, 80);
height: 650px;
}

.BooksBody{
  padding-top: 45px;
  background-color: rgb(253, 255, 255);
  height: 700px;

}

.booksimg{
display: flex;
margin-top: 30px;

}

.mm{
margin-left: 100px;
color: darkblue;

}

.booksec1{
background-color: rgb(187, 245, 247);
height: 500px;

}
.ps{
  font-size: 35px;
margin-bottom: 0px;

}

.pt1{

  margin-left: 45px;
padding-top: 70px;
}

.pp{
  background-color: rgb(0, 119, 255);

}

.jpp{
  color: aliceblue;
  margin-left: 1px;
}
Button{
  font-size: 25px;
}

h5{
display:list-item;
}

.new{
  margin-top: 60px;

}

.add{
  background-color: rgb(255, 255, 255);
  height: 560px;
}


.si{
background-color: rgb(172, 243, 222);
height: 450px;

}